#headerHeader{
    background-color: var(--darkblue-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 30px;
    gap: 20px;
}

#headerImg{
    width: 100px;
    height: 100px;
}

#headerH1{
    color: var(--wheat-color);
}